.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1024px;
  padding: 20px;
  transition: transform 0.35s ease-in-out;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  border: 1px solid #f4f4f5;
  border-radius: 100px;
  width: min-content;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.menu-child {
  height: 100%;
  font-size: 14px;
}
.menu-child a {
  padding: 0 12px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-2) !important;
}

.logo-ctn {
  position: absolute;
  left: 40px;
  top: 0;
  overflow: hidden;
}

.logo {
  border-radius: 6px;
}
