.readmore {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 1 solid transparent;
  background-color: #f4f4f5;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
  transition: all ease 0.3s;
}

.readmore:hover {
  color: #27ab83;
  border-color: #27ab83;
  background-color: #fff;
}