body {
  margin: 0;
  font-size: 14px;
  color: #333;
  background-color: #fafafa;
}
p {
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Times New Roman", monospace !important;
}

.wrap {
  background-color: #fff;
  width: 100vw;
  max-width: 1024px;
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  padding: 80px 32px;
}

.content-parent{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.content-col-1{
  width: 60%;
}

.content-col-2{
  width: 40%;
  gap: 32px;
}

.box{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 8px;
  padding: 24px;
  gap: 20px;
}
