.timeline {
  position: relative;
  display: flex;
  /* align-items: center; */
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  flex-direction: column;
}

.title {
  text-align: center;
}

.body {
  position: relative;
  padding: 20px 0;
}

.body::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 50%; /* Center the line */
  transform: translateX(-50%);
}
